.logreg-wrapp {
  background: #f3f3f3 url('signin-background.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 155px 0;
}
